<div class="col-12 text-secondary" style="font-size: smaller">
    <div class="row text-info">
        <div class="col-12"><h4>Campos que intervienen a la hora de renovar el contrato y generar la factura</h4></div>
    </div>
    <div class="row">
        <div class="col-6">
            <p><b>Campos requeridos, de no establecerlos dará error:</b></p>
            <ul>
                <li><b>Cliente:</b> Cliente al que va dirigida la factura.</li>
                <li><b>Renovación</b> Necesario para calcular el vencimiento, se actualiza a la siguiente fecha.</li>
                <li><b>Servicio cada:</b>Es necesario para establecer el periodo de vencimiento.</li>
                <li><b>Producto</b> Es necesario para agregar el producto a la linea de la factura.</li>
            </ul>
        </div>
        <div class="col-6">
            <p><b>Campos opcionales:</b></p>
            <ul>
                <li><b>Forma de pago</b> Si no se establece una, se cogerá el precio del producto asociado.</li>
                <li><b>Importe</b> Si no se establece uno, se cogerá el precio del producto asociado.</li>
                <li><b>Descripción del producto:</b> Si no se establece una, se cogerá la del producto asociado.</li>
            </ul>
        </div>
    </div>
</div>
